*{
 margin: 0;
 padding: 0;
}
#heading{
    top: 0;
    position: sticky;
    color: aliceblue;
    padding: 15px;
    background-color: darkmagenta;
}
h1{
    text-align: left;
    padding-left: 20px;
}
nav{
    margin-top: -25px;
    float: right;
    padding-right: 40px;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 5px;
}
#headinghead{
    height: 600px;
    background-color: black;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    color: aliceblue;
}
#headings2{
    height: 200px;
    margin-top: -30px;
    float: right;
}
#image1{
    margin-top: 90px;
    border-radius: 190px;
}
#heading3{
    float: right;
    margin-top: 120px;
    margin-right: -80px;
}
#image2{
    margin-top: 60px;
    border-radius: 190px;
}
#heading4{
    margin-top: 200px;
}
#cards{
    display: flex;
    flex-direction: row;
}
.card{
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    flex-basis: 2px;
    margin-top: 20px;
}
.card1{
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    /* flex-basis: 2px; */
    margin-top: 20px;
}
.card2{
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    height: 300px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    flex-basis: 2px;
    margin-top: 20px;
}
#cardheading{
    text-align: center;
    margin-bottom: 20px;
}
#cardlink{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px;
    padding: 5px;
    color: coral;
    background-color: blueviolet;
}
#cardimage{
    padding: 10px;
    height: 200px;
    width: 300px;
    margin-right: 200px;
}
.footer{
    background-color: black;
    height: 400px;
    width: 1500px;
    margin-top: 300px;
}
/* #icons{
    color: aliceblue;
} */
.paragraph{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    font-size: larger;
    /* font-weight: 400; */
}
#ll{
    padding-left: 80px;
    margin-top: 250px;
}
#sneha{
    color: aliceblue;
    margin-top: -40px;
    margin-left: 500px;
}
/* #icons1{
color: rgb(203, 192, 194);

} */
.icons{
color: rgb(9, 9, 9);
/* margin-bottom: 40px; */
margin-top: -150px;
margin-left: 500px;
}
#icons1{
background-color: aliceblue;
border: 2px solid white;
border-radius: 50px;
margin-right: 70px;
padding: 10px;
}