/* *{
    color: aquamarine;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: blue;
}

h2 {
    color: brown;
}

h3 {
    color: deeppink;
}
div h3{
    color: blueviolet;
}
h2,h4{
    color: chartreuse;
}
.para1,#para2,a {
    color: orchid;
}
a{
    color:#500073;
}
.para1{
   color: rgb(255, 64, 0);
    background-color: rgb(54, 169, 119);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 400;
    width: 500;
}
ul{
    list-style-type: disc;
}
li{
    color: blue;
}
img{
    color: maroon;
    height: 400;
    width: 500;
} */
 a:link{
       color: brown;
 }
a:visited{
    color: firebrick;
}
a:hover{
    color: chartreuse;
}
a:active{
     color: hotpink;
}
/* tr{
    color: chocolate;
}
th{
    color: orchid;
} */
 table tr,th,td{
    border: 10px solid rgb(56, 39, 237);
    width: 40%;
    height: 30%;
    text-align: center;
 }
 h2,h4{
    color: rgb(247, 22, 48);
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 4px 5px yellowgreen;
 }
 h3,h1{
    color: rgb(0, 255, 4);
    font-style: italic;
    font-size:30px;
    font-weight: lighter; 
    /* text-align: center; */
    text-decoration: underline;
    text-shadow: 0px 3px 0px red ;
    border: 10px solid rgb(255, 0, 221);
    /* margin-top: 60px;
    margin-left: 40px;
    margin-right: 50px;
    margin: 80px; */
    margin: 50px 60px 40px 80px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding: 80px;
    padding: 20px 40px 50px 80px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px 20px blue;
 }