table tr,th{
    background-color: rgb(226, 177, 43);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .section-content {
    font-size: 14px;
    color: #666;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 60px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .card {
    width: 300px;
    height: 200px;
    background-color: #918787;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #d95858;
    margin-bottom: 20px;
  }
  
  .card button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

#cardimage{
    padding: 10px;
    height: 100px;
    width: 200px;
    margin-right: 100px;
}
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 90px;
    text-align: center;
    clear: both;
  }