/* .static1{
  position: static;
  border: 2px solid yellowgreen;
  background-color: aquamarine;

}
.sticky1{
    position: sticky;
    border: 10px solid red;
    background-color: blueviolet;
    margin: 2px;
top: 0%;
}
.fixed{
    position: fixed;
    background-color: bisque;
}
.absolute{
    position: absolute;
    background-color: aqua;
    border: 1px solid palevioletred;
right: 3px;
    top: 2px;
    bottom: 4px;
 } 
.relatives{
    position: relative; 
     background-color: rgb(242, 255, 0);
    border: 1px solid purple; 
    top: 2px;
    margin-top: 3px;
}  
img{
    position: absolute; 
 z-index: -7;
 margin: 0px;
 top: 0px;
} */


body {
    font-family: Arial, sans-serif;
  }
  #todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #todo-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  #todo-list li:last-child {
    border-bottom: none;
  }
  #todo-list li.completed {
    text-decoration: line-through;
  } 

  .completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
  }
  body { 
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.028124999999999956) 0%, rgba(253,187,45,1) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  #todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
  }
  #header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px; 
  }
  
  #input-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  
  #input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e60ea;
  }
  
  #input-button:hover {
    background-color: #9eb7fd; 
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align:left;
  }
  
  li {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  }
  
  .edit-btn, .delete-btn {
    float: right;
    color:crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
  } 
  
  .completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
  } 


   